.aboutFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  & > div {
    width: 50%;
  }
  .aboutTitle {
    display: flex;
    
  }
  img {
    border-radius: 50%;
    width: 40%;
  }
  p {
    font-size: 1.125rem;
    line-height: 1.8;
    margin: 2% 0;
  }
}