@import 'variables';

.contact {
  text-align: center;
  h2 {
    margin-bottom: 20px;
  }
  .contactIcons {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 50px;
  }
  a {
    padding: 10px;
    &:focus,
    &:hover {
      text-decoration: 2px $LightWood underline;
    }
  }
  .flex {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}
