// ABOUT
.aboutIsland {
  grid-column: span 6;
  grid-row: span 6;
  order: 1;
  position: relative;
}

.aboutButton {
  bottom: 35%;
  left: 14%;
  &::after {
    content: "about";
    left: -75px;
  }
}

// CONTACT
.contactIsland {
  grid-column: 2 / span 3;
  grid-row: span 3;
  // grid-column-start: 2;
  // grid-row-end: -1;
  order: 3;
  position: relative;
}

.contactButton {
  // height: 40%;
  // width: 40%;
  top: 28%;
  right: 1%;
  &::after {
    content: "contact";
    right: -85px;
    z-index: 100;
  }
}

// PROJECTS
.projectsIsland {
  grid-column: span 3 / -2;
  grid-row: span 3;
  // grid-column-end: -2;
  // grid-row-start: 1;
  order: 3;
  position: relative;
}

.projectsButton {
  // height: 40%;
  // width: 40%;
  top: 28%;
  right: 21%;
  z-index: 20;
  &::after {
    content: "projects";
    left: -100px;
  }
}

// SKILLS
.skillsIsland {
  grid-column: span 6;
  grid-row: span 6;
  order: 4;
  position: relative;
}

.skillsButton {
  right: 23%;
  top: 34%;
  &::after {
    content: "skills";
    top: -20px;
    left: 10%;
  }
}