// ABOUT
.aboutIsland {
  grid-column: span 6;
  grid-row: span 6;
  order: 1;
  position: relative;
}

.aboutButton {
  bottom: calc(44% - 60px);
  left: calc(24% - 60px);
  &::after {
    content: "about";
    left: -70px;
  }
}

// CONTACT
.contactIsland {
  grid-column: 2 / span 3;
  grid-row: span 3;
  order: 3;
  position: relative;
}

.contactButton {
  top: calc(49% - 60px);
  right: calc(22% - 60px);
  &::after {
    content: "contact";
    right: -90px;
  }
}

// PROJECTS
.projectsIsland {
  grid-column: span 3 / -2;
  grid-row: span 3;
  order: 3;
  position: relative;
}

.projectsButton {
  top: calc(48% - 60px);
  right: calc(41% - 60px);
  z-index: 20;
  &::after {
    content: "projects";
    left: -100px;
  }
}

// SKILLS
.skillsIsland {
  grid-column: span 6;
  grid-row: span 6;
  order: 4;
  position: relative;
}

.skillsButton {
  right: calc((100% / 3) - 60px);
  top: calc(45% - 60px);
  &::after {
    content: "skills";
    top: -20px;
    left: 10%;
  }
}