@import 'variables';

.modal {
  background-color: rgba(0,0,0,0.5);
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  div {
    background-color: rgba(255,255,255,0.66);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px black;
    padding: 50px;
    position: relative;
    height: 80%;
    width: 80%;
    .closeModal {
      background: $Background;
      border: none;
      border-radius: 10px;
      box-shadow: 4px 4px $DarkWood;
      color: $DarkWood;
      padding: 20px;
      position: absolute;
      bottom: 50px;
      right: 50px;
      transition: all 0.1s;
      &:active {
        box-shadow: 2px 2px $DarkWood;
        transform: translate(2px, 2px)
      }
      &:focus,
      &:hover {
        color: ghostwhite;
      }
    }
  }
}

.hidden {
  display: none;
}