@import 'variables';

.projectsGrid {
  background-image: 
    // linear-gradient(rgba(255, 255, 255, 0.25)),
    url('../assets/villages/extra-city-map.png');
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.projectDiv {
  position: relative;
  .screenShot {
    background-position: top;
    background-size: cover;
    color: ghostwhite;
    border: 5px solid $Danger;
    border-radius: 10px;
    padding: 20px;
    min-height: 230px;
    width: 90%;
    // transition: all 0.5s;
    // transition: border 0.2s;
    p {
      font-size: 1.1rem;
      font-weight: 300;
      margin-bottom: 10px;
    }
    &:focus,
    &:hover {
      border: 5px solid $LightWood;
    }
    &:focus p,
    &:hover p {
      color: transparent;
    }
  }
  h3 {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 10px 0 20px;
    padding: 5px 10px;
    text-align: center;
    width: 90%;
  }
  .gitLink {
    border-radius: 50%;
    box-shadow: 3px 3px 3px $DarkWood;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -20px;
    right: calc(5% - 20px);
    transition: box-shadow 0.2s;
    &:focus,
    &:hover {
      box-shadow: 3px 3px 3px $Danger;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.fridgePoetry {
  background-image: 
    linear-gradient(rgba(86, 93, 71, 0.9)),
    url('../assets/screenshot-fridgepoetry.png');
  &:focus,
  &:hover {
    background-image: 
      linear-gradient(rgba(86, 93, 71, 0)),
      url('../assets/screenshot-fridgepoetry.png');
  }
}

.folkAndTales {
  background-image: 
    linear-gradient(rgba(86, 93, 71, 0.9)),
    url('../assets/screenshot-folkandtales.png');
  &:focus,
  &:hover {
    background-image: 
      linear-gradient(rgba(86, 93, 71, 0)),
      url('../assets/screenshot-folkandtales.png');
  }
}

.walksIntoAtavern {
  background-image: 
    linear-gradient(rgba(86, 93, 71, 0.9)),
    url('../assets/screenshot-walksinto.png');
  &:focus,
  &:hover {
    background-image: 
      linear-gradient(rgba(86, 93, 71, 0)),
      url('../assets/screenshot-walksinto.png');
  }
}