@import 'variables';

.projectsGrid {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.25)),
    url('../assets/villages/extra-city-map.png');
  background-position: center;
  // background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  .projectDiv {
    // background-color: ;
    a {
      border: 5px solid $Danger;
      border-radius: 10px;
      transition: border 0.2s;
      width: 75%;
      &:focus,
      &:hover {
      border: 5px solid $LightWood;
      }
    }
    h3 {
      background: rgba(255, 255, 255, 0.5);
      border-radius: 10px;
      margin: 10px 0 20px;
      padding: 5px 10px;
      text-align: center;
      width: 75%;
      // text-shadow: 2px 2px ghostwhite;
    }
    .links a {
      border: 2px solid transparent;
      font-weight: 500;
      padding: 5px 10px;
      transition: all 0.2s;
      &:focus,
      &:hover {
      background: rgba(255, 255, 255, 0.5);
      border: 2px solid $LightWood;
      border-radius: 10px;
      }
    }
  }
}