@import 'variables';

.projectsGrid {
  background-color: transparent;
  background-image: 
    // linear-gradient(rgba(255, 255, 255, 0.25)),
    url('../assets/villages/extra-city-map.png');
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  .projectsHeading {
    a {
      text-decoration: underline;
    }
  }
  p {
    font-size: 1.1rem;
    font-weight: 300;
    margin-bottom: 10px;
  }
}

.projectDiv {
  max-width: 350px;
  position: relative;
  .screenShot {
    background-position: top;
    background-size: cover;
    color: ghostwhite;
    border: 5px solid $Danger;
    border-radius: 10px;
    padding: 20px;
    height: 240px;
    width: 90%;
    // transition: all 0.5s;
    // transition: border 0.2s;
    &:focus,
    &:hover {
      border: 5px solid $LightWood;
    }
    &:focus p,
    &:hover p {
      color: transparent;
    }
  }
  h3 {
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
    margin: 10px 0 20px;
    padding: 5px 10px;
    text-align: center;
    width: 90%;
  }
  .gitLink {
    border-radius: 50%;
    box-shadow: 3px 3px 3px $DarkWood;
    height: 50px;
    width: 50px;
    position: absolute;
    top: -20px;
    right: calc(5% - 20px);
    transition: box-shadow 0.2s;
    &:focus,
    &:hover {
      box-shadow: 3px 3px 3px $Danger;
    }
    img {
      height: 100%;
      width: 100%;
    }
  }
}

.autoThefts {
  background-image: 
    linear-gradient(rgba(86, 93, 71, 0.9)),
    url('../assets/autoThefts.png');
  &:focus,
  &:hover {
    background-image: 
      linear-gradient(rgba(86, 93, 71, 0)),
      url('../assets/autoThefts.png');
  }
}

.municipalityQuiz {
  background-image: 
  linear-gradient(rgba(86, 93, 71, 0.9)),
  url('../assets/municipalityQuiz.png');
  &:focus,
  &:hover {
  background-image: 
    linear-gradient(rgba(86, 93, 71, 0)),
    url('../assets/municipalityQuiz.png');
  }
}


.subwayExtension{
  background-image: 
  linear-gradient(rgba(86, 93, 71, 0.9)),
  url('../assets/subwayExtension.png');
  &:focus,
  &:hover {
  background-image: 
    linear-gradient(rgba(86, 93, 71, 0)),
    url('../assets/subwayExtension.png');
  }
}

.freeMovies {
  background-image: 
  linear-gradient(rgba(86, 93, 71, 0.9)),
  url('../assets/freeMovies.png');
  &:focus,
  &:hover {
  background-image: 
    linear-gradient(rgba(86, 93, 71, 0)),
    url('../assets/freeMovies.png');
  }
}

.raptors {
  background-image: 
  linear-gradient(rgba(86, 93, 71, 0.9)),
  url('../assets/raptors.png');
  &:focus,
  &:hover {
  background-image: 
    linear-gradient(rgba(86, 93, 71, 0)),
    url('../assets/raptors.png');
  }
}


@media (max-width: $tabletLand) {
  .projects {
    justify-content: flex-start;
    overflow-y: scroll;
    padding: 10% 5%;
    scroll-behavior: smooth;
  }
  .projectsGrid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
  }
  .projectDiv {
    h3 {
      font-size: 1.25rem;
    }
    .screenShot p {
      font-size: 1.05rem;
    }
  }
}

@media (max-width: $phonePort) {
  .projectsGrid {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    .iconDiv {
      margin: 20px auto;
    }
  }
}