.skillIcons {
  background-image: 
    linear-gradient(rgba(255, 255, 255, 0.75)),
    url('../assets/villages/LG-dungeon.png');
  background-position: center;
  // background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 50px;
}