.skillsIsland {
  grid-column: span 2 / -1;
  grid-row: span 2 / -1;
  position: relative;
}

.skillsButton {
  right: 23%;
  top: 34%;
  &::after {
    content: "skills";
    top: -20px;
    left: 10%;
  }
}