// colours
$Foreground: #000000;
$Paper: #FFFFFF;
$Background: #8E9775;
$Water: #5F939A;
$Shallow: #87A7B3;
$Rivers: #87A7B3;
$LightWood: #565D47;
$DarkWood: #4A503D;
$Mountain: #BBBBBB;
$Danger: #E6D5B8;
$Walls: #C8C2BC;
$Roofs: #CC9B6D;
$Flags: #F33535;

// fonts
$raleway: 'Raleway', sans-serif;
  // 200, 300, 400, 700, 900