// IMPORTS
@import 'setup';
@import 'variables';

// GENERAL STYLES
html {
  height: 100vh;
}

body {
  background-color: $Water;
  font-size: 125%;
  // position: relative;
}

h1, h2 {
  margin: 0;
}

img {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
}

// HEADER SECTION
header {
  background-color: rgba(255,255,255,0.2);
  position: fixed;
    top: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 10;
  .flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
} 

.robert {
  font-weight: 200;
}

// MAIN SECTION
main {
  margin: 0 auto;
}

.grid {
  display: grid;
  // grid-auto-flow: dense;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
  // fixed max value doesn't work to keep buttons in place...
}

.skillsIsland {
  grid-column: span 2 / -1;
  grid-row: span 2 / -1;
}

.aboutIsland {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
  position: relative;
}

.projectsIsland {
  grid-column-end: -2;
  grid-row-start: 1;
}

.contactIsland {
  grid-column-start: 2;
  grid-row-end: -1;
}

.linkButton {
  color: $Flags;
  background-color: transparent;
  // border: none;
  border-radius: 50%;
  font-size: 2rem;
  font-weight: 800;
  height: 150px;
  width: 150px;
  position: absolute;
    bottom: 35%;
    left: 15%;
  &:hover {
    background-color: rgba(255, 255, 0, 0.5);
  }
}

.linkButton::after {
  content: "About";
  height: 25px;
  position: absolute;
    bottom: -25px;
    left: 20%;
}