// IMPORTS
@import 'setup';
@import 'variables';

// GENERAL STYLES
html {
  height: 100vh;
}

body {
  background-color: $Water;
  font-size: 125%;
  // overflow-y: hidden;
}

h1, h2, button {
  font-family: $raleway;
  margin: 0;
}

img {
  width: 100%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1600px;
  width: 90%;
}

// HEADER SECTION
@import 'header';

// MAIN SECTION
.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 1fr));
  grid-template-rows: repeat(3, minmax(200px, 1fr));
}

.linkButton {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 20%;
  width: 20%;
  position: absolute;
  transition: background-color 0.5s;
  &:focus,
  &:hover {
    background-color: rgba(230,213,184,0.25);
  }
  &::after {
    font-size: 2rem;
    font-weight: 700;
    height: 32px;
    padding: 5px;
    position: absolute;
    bottom: calc(50% - 16px);
  }
}

@import 'aboutIsland';
@import 'skillsIsland';
@import 'projectIsland';
@import 'contactIsland';

// MODAL SECTIONS

.modal {
  background-color: rgba(0,0,0,0.5);
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}

.hidden {
  display: none;
}

// ABOUT SECTION

// testing universal modal attributes
.about {
  background-color: rgba(0,0,0,0.5);
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
  div {
    background-color: rgba(255,255,255,0.66);
    border-radius: 20px;
    box-shadow: 5px 5px 5px 5px black;
    padding: 50px;
    position: relative;
    height: 80%;
    width: 80%;
    .closeModal {
      background: $Background;
      border: none;
      border-radius: 10px;
      box-shadow: 4px 4px black;
      color: ghostwhite;
      padding: 20px;
      position: absolute;
      bottom: 50px;
      right: 50px;
      transition: all 0.1s;
      &:active {
        box-shadow: 2px 2px black;
        transform: translate(2px, 2px)
      }
    }
  }
}

/*

TO DO
- build modals for 'links;

*/