html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-color: #5F939A;
  cursor: default;
  font-size: 125%;
}

h1, h2, button {
  font-family: "Raleway", sans-serif;
  margin: 0;
}

h3, a, p {
  font-family: "Bitter", serif;
  margin: 0;
}

p {
  line-height: 1.6;
}

img {
  display: block;
  width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

a,
button {
  cursor: pointer;
}

.icon {
  margin-bottom: 10px;
  max-width: 90px;
}

.wrapper {
  margin: 0 auto;
  width: 80%;
}

header {
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: 0;
  padding: 10px 0;
  width: 100%;
  z-index: 100;
}
header .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 2.5rem;
}

.light {
  font-weight: 200;
}

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-flow: dense;
}

.linkButton {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  height: 120px;
  width: 120px;
  position: absolute;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
  z-index: 50;
}
.linkButton:focus, .linkButton:hover {
  background-color: rgba(230, 213, 184, 0.25);
}
.linkButton::after {
  font-size: 2rem;
  font-weight: 700;
  height: 32px;
  padding: 5px;
  position: absolute;
  bottom: 50px;
}

.aboutIsland {
  grid-column: span 6;
  grid-row: span 6;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  position: relative;
}

.aboutButton {
  bottom: calc(44% - 60px);
  left: calc(24% - 60px);
}
.aboutButton::after {
  content: "about";
  left: -70px;
}

.contactIsland {
  grid-column: 2/span 3;
  grid-row: span 3;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  position: relative;
}

.contactButton {
  top: calc(49% - 60px);
  right: calc(22% - 60px);
}
.contactButton::after {
  content: "contact";
  right: -90px;
}

.projectsIsland {
  grid-column: span 3/-2;
  grid-row: span 3;
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  position: relative;
}

.projectsButton {
  top: calc(48% - 60px);
  right: calc(41% - 60px);
  z-index: 20;
}
.projectsButton::after {
  content: "projects";
  left: -100px;
}

.skillsIsland {
  grid-column: span 6;
  grid-row: span 6;
  -webkit-box-ordinal-group: 5;
      -ms-flex-order: 4;
          order: 4;
  position: relative;
}

.skillsButton {
  right: calc((100% / 3) - 60px);
  top: calc(45% - 60px);
}
.skillsButton::after {
  content: "skills";
  top: -20px;
  left: 10%;
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;
}
.modal > div {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 20px;
  -webkit-box-shadow: 5px 5px 5px 5px black;
          box-shadow: 5px 5px 5px 5px black;
  padding: 75px;
  position: relative;
}
.modal > div .closeModal {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  padding: 8px 12px 12px 8px;
  position: absolute;
  top: -25px;
  right: -25px;
  -webkit-transition: background-color 0.5s;
  transition: background-color 0.5s;
}
.modal > div .closeModal img {
  border-radius: 50%;
  -webkit-box-shadow: 4px 4px #4A503D;
          box-shadow: 4px 4px #4A503D;
  height: 50px;
  width: 50px;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
.modal > div .closeModal:focus, .modal > div .closeModal:hover {
  background-color: rgba(255, 255, 255, 0.25);
}
.modal > div .closeModal:active img {
  -webkit-box-shadow: 2px 2px #4A503D;
          box-shadow: 2px 2px #4A503D;
  -webkit-transform: translate(2px, 2px);
          transform: translate(2px, 2px);
}

.hidden {
  display: none;
}

.iconDiv,
.projectDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.projectsGrid {
  background-image: url("../assets/villages/extra-city-map.png");
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
}

.projectDiv {
  position: relative;
}
.projectDiv .screenShot {
  background-position: top;
  background-size: cover;
  color: ghostwhite;
  border: 5px solid #E6D5B8;
  border-radius: 10px;
  padding: 20px;
  min-height: 230px;
  width: 90%;
}
.projectDiv .screenShot p {
  font-size: 1.1rem;
  font-weight: 300;
  margin-bottom: 10px;
}
.projectDiv .screenShot:focus, .projectDiv .screenShot:hover {
  border: 5px solid #565D47;
}
.projectDiv .screenShot:focus p, .projectDiv .screenShot:hover p {
  color: transparent;
}
.projectDiv h3 {
  background: rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  margin: 10px 0 20px;
  padding: 5px 10px;
  text-align: center;
  width: 90%;
}
.projectDiv .gitLink {
  border-radius: 50%;
  -webkit-box-shadow: 3px 3px 3px #4A503D;
          box-shadow: 3px 3px 3px #4A503D;
  height: 50px;
  width: 50px;
  position: absolute;
  top: -20px;
  right: calc(5% - 20px);
  -webkit-transition: -webkit-box-shadow 0.2s;
  transition: -webkit-box-shadow 0.2s;
  transition: box-shadow 0.2s;
  transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
}
.projectDiv .gitLink:focus, .projectDiv .gitLink:hover {
  -webkit-box-shadow: 3px 3px 3px #E6D5B8;
          box-shadow: 3px 3px 3px #E6D5B8;
}
.projectDiv .gitLink img {
  height: 100%;
  width: 100%;
}

.fridgePoetry {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 93, 71, 0.9))), url("../assets/screenshot-fridgepoetry.png");
  background-image: linear-gradient(rgba(86, 93, 71, 0.9)), url("../assets/screenshot-fridgepoetry.png");
}
.fridgePoetry:focus, .fridgePoetry:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 93, 71, 0))), url("../assets/screenshot-fridgepoetry.png");
  background-image: linear-gradient(rgba(86, 93, 71, 0)), url("../assets/screenshot-fridgepoetry.png");
}

.folkAndTales {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 93, 71, 0.9))), url("../assets/screenshot-folkandtales.png");
  background-image: linear-gradient(rgba(86, 93, 71, 0.9)), url("../assets/screenshot-folkandtales.png");
}
.folkAndTales:focus, .folkAndTales:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 93, 71, 0))), url("../assets/screenshot-folkandtales.png");
  background-image: linear-gradient(rgba(86, 93, 71, 0)), url("../assets/screenshot-folkandtales.png");
}

.walksIntoAtavern {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 93, 71, 0.9))), url("../assets/screenshot-walksinto.png");
  background-image: linear-gradient(rgba(86, 93, 71, 0.9)), url("../assets/screenshot-walksinto.png");
}
.walksIntoAtavern:focus, .walksIntoAtavern:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(86, 93, 71, 0))), url("../assets/screenshot-walksinto.png");
  background-image: linear-gradient(rgba(86, 93, 71, 0)), url("../assets/screenshot-walksinto.png");
}

.aboutFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.aboutFlex > div {
  width: 50%;
}
.aboutFlex .aboutTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.aboutFlex img {
  border-radius: 50%;
  width: 40%;
}
.aboutFlex p {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 2% 0;
}

.skillIcons {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.75))), url("../assets/villages/LG-dungeon.png");
  background-image: linear-gradient(rgba(255, 255, 255, 0.75)), url("../assets/villages/LG-dungeon.png");
  background-position: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  row-gap: 50px;
}

.contact {
  text-align: center;
}
.contact h2 {
  margin-bottom: 20px;
}
.contact .contactIcons {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
}
.contact a {
  padding: 10px;
}
.contact a:focus, .contact a:hover {
  -webkit-text-decoration: 2px #565D47 underline;
          text-decoration: 2px #565D47 underline;
}
.contact .flex {
  margin-top: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 1200px) {
  .wrapper {
    width: 95%;
  }
}
@media (max-width: 900px) {
  header h1 {
    font-size: 2.25rem;
  }
  header h2 {
    font-size: 2rem;
  }

  .grid {
    grid-template-columns: repeat(9, 1fr);
  }

  .contactIsland {
    grid-column: 1/span 3;
  }

  .projectsIsland {
    grid-column: span 3/-1;
    grid-row: 2/span 3;
  }
}
@media (max-width: 750px) {
  header h1 {
    font-size: 2rem;
  }
  header h2 {
    font-size: 1.75rem;
  }

  .aboutButton::after {
    left: -10px;
    top: -10px;
  }

  .contactButton::after {
    right: 0;
    top: -20px;
  }
}
@media (max-width: 600px) {
  header {
    position: static;
  }
  header .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .grid {
    grid-template-columns: repeat(6, 1fr);
  }

  .contactIsland {
    grid-column: auto/span 6;
    grid-row: span 6;
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }

  .projectsIsland {
    grid-column: span 6/auto;
    grid-row: auto/span 6;
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
}